body {
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffff00;
}

figure {
    margin: 0;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

.ascii-art {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.item {
    flex-basis: 0;
}
