body {
    background-color: #000000;
    color: #ffffff;
}

.logo-n {
    color: #00ff00;
}
.logo-e {
    color: #00ffff;
}
.logo-m {
    color: #ff00ff;
}
.logo-o {
    color: #ffff00;
}

.ascii-art {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}